# Пример настроек для GhostLink
GHOST_API_TOKEN=
GHOST_PANEL_URL=http://example.com:11277/yourPanelPath/
GHOST_PANEL_URL_LOCAL=
GHOST_PANEL_USERNAME=
GHOST_PANEL_PASSWORD=
GHOST_ADMIN_ID=
GHOST_SERVER_IP=
GHOST_PBK=
GHOST_SID=
GHOST_SNI=dl.google.com
GHOST_INBOUND_ID=1
GHOST_VIP_LIMIT=10
GHOST_WEBAPP_URL=
GHOST_BOT_USERNAME=
GHOST_WEBAPP_ORIGINS=*
GHOST_PANEL_PORT=11277
GHOST_XRAY_SERVICE=x-ui

# Ссылки на приложение (опционально)
GHOST_APP_IOS=https://apps.apple.com/us/app/v2raytun/id6476628951?l=ru
GHOST_APP_ANDROID=https://play.google.com/store/apps/details?id=com.v2raytun.android
GHOST_APP_WINDOWS=https://github.com/mdf45/v2raytun/releases/download/v3.7.10/v2RayTun_Setup.exe
GHOST_APP_MAC=https://apps.apple.com/us/app/v2raytun/id6476628951?l=ru
